body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  /* background-image: url("./—Pngtree—golden stage podium in black_1159255.png"); */
  

}

/* Huge 1250px and up */

@media only screen and (min-width: 1252px) {  
  h1 {
    color: white;
    background-color: #282c34;
  }
  h2 {
    color: white;
  }
  button {
    background-color: #81BF37;
    border: none;
    color: white;
    width: calc(100px);
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(8px + 1vmin);
  }
  input {
    padding: 15px 32px;
    margin: 5px;
    width: 100%;
  }
  tr {
    height: 65px;
  }  
  .nom-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    top: 23vh;
    right: 1vw;    
    width: 55%;
    padding: 5px;  
    text-align: left;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: transparent;
  }  
  .search-container {
    /* top and left have NO effect if position is not specified the position is static */
    position: relative;
    top: 23vh;
    left: 1vw;
    height: 100%;
    width: 40%;
    padding: 5px;
    text-align: left;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: transparent;    
  }
  .searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 0;
    left: 1vh;
    right: 1vw;
    height: 10%;
    width: 80%;
    text-align: center;
    background-color: #282c34;
  }
  .searchbar > button {
    background-color: purple;
    height: 50px;
    margin-left: 15px;
  }
  .input-search-results-container {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .searchbar-results {
    position: fixed;
    z-index: 200;
    background-color: azure;
    color: black;
    padding: 15px 32px;
    margin: 5px;
    margin-top: 0px;
    top: 100px;
    width: 36.5%;    
  }
  .searchbar-result-item {
    text-align: left;
    /* border-top-color:cadetblue;
    border-top: solid; */
  }
  .banner {
    background-color: #81BF37;
    top: 15vh;
    width: 100%;
    height: 7%;
    font-size: medium;
    color: #606c83;
    text-align: center;
    margin-top: 1vh;
  }
  .shoppies-logo {
    display: none;
  }

  .nom-item {
    display:block;
  }

  .poster {
    height: 21vh;
    width: 14vh;
    margin: 8px;
  }
  .nom-button {
    background-color: purple;
    border: none;
    color: white;
    width: calc(75px);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(5px + 1vmin);
  }
}

/* Large up to 1249px */

@media only screen and (max-width: 1251px) {
  h1 {
    color: white;
    background-color: #282c34;
  }
  h2 {
    color: white;
  }
  button {
    background-color: #81BF37;
    border: none;
    color: white;
    width: calc(100px);
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(8px + 1vmin);
  }
  input {
    padding: 15px 32px;
    margin: 5px;
    width: 50%;
  }
  tr {
    height: 65px;
  }  
  .nom-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 30vh;
    right: 1vw;
    width: 55%;
    padding: 5px;  
    text-align: left;
    font-size: calc(4px + 2vmin);
    color: white;
    background-color: #282c34;
  }  
  .search-container {
    /* top and left have NO effect if position is not specified the position is static */
    position: relative;
    top: 27vh;
    left: 1vw;
    height: 100%;
    width: 40%;
    padding: 5px;
    text-align: left;
    font-size: calc(4px + 2vmin);
    color: white;
    background-color: #282c34;
  }
  .searchbar {
    position: relative;
    top: 0;
    left: 1vh;
    right: 1vw;
    height: 10%;
    width: 80%;
    text-align: center;
    background-color: #282c34;
  }
  .searchbar > button {
    background-color: purple;;
  }
  .banner {
    background-color: #81BF37;
    top: 15vh;
    width: 100%;
    height: 7%;
    font-size: medium;
    color: #606c83;
    text-align: center;
    margin-top: 1vh;
  }
  .shoppies-logo {
    display: none;
  }

  .poster {
    height: 18vh;
    width: 12vh;
    margin: 8px;
  }
  .nom-button {
    background-color: purple;
    border: none;
    color: white;
    width: calc(75px);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(5px + 1vmin);
  }
}

/* Medium up to 1033 */

@media only screen and (max-width: 1033px) {
  h1 {
    color: white;
    background-color: #282c34;
    display: none;
  }
  h2 {
    color: white;
  }
  button {
    background-color:#81BF37;
    border: none;
    color: white;
    width: calc(100px);
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(8px + 1vmin);
  }
  input {
    padding: 15px 32px;
    margin: 5px;
    width: 50%;
  }
  tr {
    height: 65px;
  }  
  .nom-container {
    position: fixed;
    top: 20vh;
    right: 1vw;
    height: 65%;
    width: 50%;
    padding: 5px;  
    text-align: left;
    font-size: calc(3px + 2vmin);
    color: white;
    background-color: #282c34;
  }  
  .search-container {
    /* top and left have NO effect if position is not specified the position is static */
    position: relative;
    top: 14vh;
    left: 1vw;
    height: 100%;
    width: 45%;
    padding: 5px;
    text-align: left;
    font-size: calc(1px + 2vmin);
    color: white;
    background-color: #282c34;
  }
  .searchbar {
    position: relative;
    top: 6vh;
    left: 8vh;
    right: 1vw;
    height: 10%;
    width: 80%;    
    text-align: center;
    background-color: #282c34;
  }
  .searchbar > button {
    background-color: purple;;
  }
  .searchbar > label {
    font-size: medium;
  }
  .banner {
    background-color: #81BF37;
    top: 15vh;
    width: 100%;
    height: 7%;
    font-size: medium;
    color: #606c83;
    text-align: center;
    margin-top: 8vh;
  }
  .shoppies-logo {
    position: absolute;
    display:inline;
    top: 5px;
    left: 3vw;
    height: 120px;
    width: 120px;
  }
}

/* Medium up to 1033 */

@media only screen and (max-width: 731px) {
  h1 {
    color: white;
    background-color: #282c34;
    display: none;
  }
  h2 {
    color: white;
  }
  button {
    background-color: #81BF37;
    border: none;
    color: white;
    width: calc(70px);
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(4px + 2vmin);
  }
  input {
    padding: 15px 32px;
    margin: 5px;
    width: 50%;
  }
  tr {
    height: 65px;
  }  
  .nom-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 30vh;
    right: 1vw;
    height: 100%;
    width: 40%;
    padding: 5px;  
    text-align: left;
    font-size: calc(3px + 2vmin);
    color: white;
    background-color: #282c34;
  }  
  .search-container {
    /* top and left have NO effect if position is not specified the position is static */
    position: relative;
    top: 14vh;
    left: 1vw;
    height: 100%;
    width: 50%;
    padding: 5px;
    text-align: left;
    font-size: calc(4px + 2vmin);
    color: white;
    background-color: #282c34;
  }
  .searchbar {
    position: relative;
    top: 6vh;
    left: 8vh;
    right: 1vw;
    height: 10%;
    width: 80%;    
    text-align: center;
    background-color: #282c34;
  }
  .searchbar > button {
    background-color: purple;
    width: calc(100px);
    font-size: calc(8px + 1vh);
  }
  .searchbar > label {
    display: none;
  }
  .banner {
    background-color: #81BF37;
    top: 15vh;
    width: 100%;
    height: 7%;
    font-size: medium;
    color: #606c83;
    text-align: center;
    margin-top: 8vh;
  }
  .shoppies-logo {
    position: absolute;
    display:inline;
    top: 5px;
    left: 3vw;
    height: 120px;
    width: 120px;
  }
  .poster {
    height: 15vh;
    width: 10vh;
    margin: 8px;
  }
  .nom-button {
    background-color: purple;
    border: none;
    color: white;
    width: calc(60px);
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(3px + 2vmin);
  }
}