body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background-image: url("./—Pngtree—golden stage podium in black_1159255.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* these rules apply to all sizes unless specified */

.noms-title-search-container  {
  position: fixed;
  background-color: black;
  top: 0;
  width: 100%;  
  height: 20%;
  margin-top: 0;
  z-index: 300;
}

.title {
  position: fixed;
  top: -8vh;
  width: 100%;
  text-align: center;
  align-self: flex-end;
  color: #DAB018;
  font-variant: small-caps;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: black;
  margin-bottom: 0;
  z-index: 301;
  font-size: 8em;
}

h2 {
  color: white;
}

button {
  background-color: #dab019;
  border: none;
  color: #1b1302;
  width: calc(120px);
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(8px + 1vmin);
}

input {
  padding: 15px 32px;
  margin: 5px;
  width: 100%;
}


.nom-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 29vh;
  padding: 5px;
  top: 45vh;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: white;
  /* z-index: 300; */
  /* background-color: */
}

.search-container {
  /* top and left have NO effect if position is not specified the position is static */
  position: relative;
  top: 29.5vh;
  margin: auto;
  height: 100%;
  width: 55%;
  text-align: left;
  font-size: calc(10px + 2vmin);
  font-weight: bolder;
  color: white;
  background-color: black;
  opacity: 0.9;
}

.close-control {
  position: fixed;
  width: 32px; height: 32px;
  text-align: center;
  vertical-align: text-bottom;
  right: 300px;
  top: 262px;
  font-size: 50px;
  font-family:monospace;
  font-weight: lighter;
  color:rgb(255, 255, 255);
  z-index: 500;
}

.close-control-typeahead {
  position: fixed;
  right: 22px;
  color: rgb(65, 65, 65);
  font-size: large;
}

.search-item {
  display: flex;
  flex-direction: row;
  padding: 1vw;
  align-items: flex-start;
  position: relative;
}

.search-item:hover {
  border: 2px dotted rgb(248, 200, 8);
  transition: .1s;  
}

.search-item:hover .search-nom-button,
.search-item:hover .search-remove-button,
.search-item:hover .search-nom-disabled
{
  display: inline-block;
}


.search-item-text {
  width: 80%;
}

.search-nom-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}

.search-nom-button {
  align-self: flex-start;
  display: none;
  position: absolute;
  top: 13vh;
  text-transform: uppercase;
  font-weight: bold;
}

.search-remove-button {
  align-self: flex-start;
  display: none;
  position: absolute;
  top: 13vh;
  color: white;
  background-color: purple;
  text-transform: uppercase;
  font-weight: bold;
}

.search-nom-disabled {
  align-self: flex-start;
  display: none;
  position: absolute;
  top: 13vh;
  text-transform: uppercase;
  font-weight: bold;
}

.disabled-text {
  opacity: 0.25;
}

.search-poster {
  height: 18vh;
  width: 12vh;
  padding-right: 5px;
  align-self: flex-end;
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 18vh;
  height: 10%;
  width: 100%;
  text-align: center;
  background-color: black;
  z-index: 300;
}

.searchbar>button {
  background-color: purple;
  height: 50px;
  margin-left: 15px;
  color: white;
}

.input-search-results-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.searchbar-results {
  position: relative;
  z-index: 200;
  background-color: white;
  font-size: 1.5em;
  color: black;
  padding: 15px 32px;
  margin: 5px;
  margin-top: 0px;
  width: 93%;
}

.searchbar-result-item {
  text-align: left;
}

.banner {
  position: fixed;
  background-color: #480148;
  top: 0;
  width: 100%;
  height: 7%;
  font-size: medium;
  color: #FBCD24;
  text-align: center;
  margin-top: 0;
  z-index: 400;
}

.awards-logo {
  display: none;
}

.nom-item {
  position: relative;
  display: block;
}

.nom-item:hover .nom-remove-control {
  display: inline;
}


.poster {
  height: 21vh;
  width: 14vh;
  padding: 1vw;
}
.poster:hover {
  height: 24vh;
  width: 16vh;
  transition: .25s;
}

.nom-icon {
  position: absolute;
  left: 42vw;
  top: 1vh;
  font-size: 40px;
}

.nom-remove-control {
  display: none;
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 25px;
  height: 25px;
  
}

.nom-button {
  background-color: purple;
  border: none;
  color: white;
  width: calc(75px);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(5px + 1vmin);
}

/* Very Large screen  */

@media only screen and (max-width: 1879px) {
  h1 {
    font-size: 48px;
  }
  .searchbar-results {
    padding: 15px 30px;
  }
}

/* large screen */

@media only screen and (max-width: 1566px) {
  h1 {
    font-size: 46px;
  }
}

/* medium-large */

@media only screen and (max-width: 1487px) {
  h1 {
    font-size: 36px;
  }
  .searchbar-results {
    padding: 15px 23px;
  }
}

/* medium */

@media only screen and (max-width: 1170px) {
  .search-container {
    /* top and left have NO effect if position is not specified the position is static */
    top: 27vh;
  }
  .searchbar-results {
    padding: 15px 20px;
  }
  .poster {
    height: 18vh;
    width: 12vh;
  }
  .poster:hover {
    height: 21vh;
    width: 14vh;
    transition: .25s;
  }
}

/* Medium */

@media only screen and (max-width: 1033px) {
  h1 {
    font-size: 50px;
  }
  .search-container {
    /* top and left have NO effect if position is not specified the position is static */
    top: 20vh;
    width: 57%;
    font-size: calc(1px + 2vmin);
  }
  .searchbar {
    top: 10vh;
    left: -150px;
    width: 140%;
    
  }
  .searchbar-results {
    font-size: 14px;
    padding: 5px 17px;
  }
  .searchbar>label {
    font-size: medium;
  }
  .banner {
    margin-top: 8vh;
  }
  .awards-logo {
    display: inline;
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 3vw;
    height: 150px;
    width: 150px;
  }
}

/* I chose this size because I want to leave 5 posters on screen */

@media only screen and (max-width: 651px) {
  .poster {
    height: 15vh;
    width: 10vh;
  }
  .poster:hover {
    height: 18vh;
    width: 12vh;
    transition: .25s;
  }
}

/* small - phone */

@media only screen and (max-width: 414px) {

  body {
    max-width: 414px;
  }

  .title {
    position: fixed;
    top: 0px;
    font-size: 2em;
  }
  button {
    width: calc(70px);
    padding: 3px;
    font-size: calc(4px + 2vmin);
  }

  .noms-title-search-container {
    height: 15%;
  }

  .search-container {
    /* top and left have NO effect if position is not specified the position is static */
    width: 95%;
    font-size: calc(4px + 2vmin);
    
  }
  .searchbar-results {
    position: absolute;
    font-size: 14px;
    padding: 2px;
    left: 41vw;
    top: 5.35vh;

    
  }
  .searchbar > button {
    display: none;
    /* background-color: rgb(119, 40, 119);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(29, 29, 29);
    border-radius: 3px;
    width: calc(65px);    
    font-size: calc(6px + 1vh);
    position: absolute;
    top: 7px;
    float: right;
    padding: 0px;
    height: 35px; */
  }

  .searchbar > label {
    display: none;
  }
  /* this is a div that contains the search bar */
  .searchbar {
    display: block;
    width: 100%;
    height: 0;
    
  }
  .input-search-results-container {
    width: 300px;
    display: block;
  }
  #search-text {
    position: fixed;
    padding: 10px 5px;
    margin-left: auto;
    margin-right: auto;
    left: 2%;
    width: 95%;
    /* display: inline-block; */
    /* width: 185%;
    left: 200px;
    padding: 4px;
    height: 40px;
    width: 300px; */
  }

  .search-item {
    height:75px;
    width: 95%;
    position: relative;
    left: 1vw;
    right: 1vw;
  }

  .search-poster {    
    height: 9vh;
    width: 6vh;    
  }
  
  .nom-icon {
    position: absolute;
    left: 62vw;
    top: 3vh;
    font-size: 30px;
  }

  .search-nom-button, .search-remove-button, .search-nom-disabled {
    width: calc(60px);
    padding: 3px;
    font-size: calc(3px + 2vmin);
    position: absolute;
    top: 6vh;
  }

  .awards-logo {
    height: 120px;
    width: 120px;
  }

  .banner {
    margin-top: 0;
    height: 13%;
  }
  
  
  
}

/* shoppies are best viewed in portrait mode... */
/* apparently this media query doesn't seem to truly detect landscape...
it seems to just see if the width is greater than the height??*/

@media(orientation: landscape) { 
  /* this class will only be added if onMobile is true (set by checking if the device has touch points) */
.turnDeviceNotification {
  position:fixed;
  z-index: 9999;
  top: 0;
  left:0;
  height:100%;
  width:100%;
  background-image:url('./turn-device.png');
  background-size:cover;
}
}