body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background-image: url("./—Pngtree—golden stage podium in black_1159255.png");
  background-attachment: fixed;

}

/* these rules apply to all sizes unless specified */

.noms-title-search-container {
  position: relative;
  top: 19vh;
  z-index: 300;
}

.title {
  position: fixed;
  top: 10vh;
  width: 100%;
  text-align: center;
  color: #DAB018;
  font-variant: small-caps;
  font-family:Georgia, 'Times New Roman', Times, serif;

}

table {
  width: 100%;
}

h1 {
  color: white;
  font-size: 58px;
}
h2 {
  color: white;
}
button {
  background-color: #dab019;
  border: none;
  color: #1b1302;
  width: calc(100px);
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(8px + 1vmin);
}
input {
  padding: 15px 32px;
  margin: 5px;
  width: 100%;
}
tr {
  height: 65px;
}  
.nom-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
  height: 29vh;
  padding: 5px;  
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 300;
  background-color: black;

}  
.search-container {
  /* top and left have NO effect if position is not specified the position is static */
  position: relative;
  top: 29vh;
  margin: auto;
  height: 100%;
  width: 55%;
  text-align: left;
  font-size: calc(10px + 2vmin);
  font-weight: bolder;
  color: white;
  background-color: black;
  opacity: 0.8;
}
.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 23vh;
  height: 10%;
  width: 100%;
  text-align: center;
  /* background-color: #282c34; */
}
.searchbar > button {
  background-color: purple;
  height: 50px;
  margin-left: 15px;
  color: white;
}
.input-search-results-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.searchbar-results {
  position: fixed;
  z-index: 200;
  background-color: azure;
  font-size: 18px;
  color: black;
  padding: 15px 32px;
  margin: 5px;
  margin-top: 0px;
  top: 100px;
  width: 36.5%;    
}
.searchbar-result-item {
  text-align: left;
}
.banner {
  background-color: #81BF37;
  top: 15vh;
  width: 100%;
  height: 7%;
  font-size: medium;
  color: #606c83;
  text-align: center;
  margin-top: 1vh;
}
.awards-logo {
  display: none;
}

.nom-item {
  display:block;
}
.poster {
  height: 21vh;
  width: 14vh;
  margin: 8px;
}
.nom-button {
  background-color: purple;
  border: none;
  color: white;
  width: calc(75px);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(5px + 1vmin);
}
/* Very Large screen  */
@media only screen and (max-width: 1879px) {  
  h1 {
    font-size: 48px;
  }  
  .searchbar-results {
    padding: 15px 30px;    
    top: 88px;
  }  
}

/* large screen */
@media only screen and (max-width: 1566px) {  
  h1 {
    font-size: 46px;
  }
}

/* medium-large */
@media only screen and (max-width: 1487px) {  
  h1 {
    font-size: 36px;
  }
  .searchbar-results {
    padding: 15px 23px;
    top: 71px;
  }
}

/* medium */
@media only screen and (max-width: 1170px) {
  .nom-container {    
    top: 30vh;
    font-size: calc(4px + 2vmin);
 }  
 .search-container {
    /* top and left have NO effect if position is not specified the position is static */
    top: 27vh;
  }
 .searchbar-results {
    padding: 15px 20px;
    top: 148px;
  }  
  .poster {
    height: 18vh;
    width: 12vh;
  }  
}

/* Medium */
@media only screen and (max-width: 1033px) {
  h1 {
    font-size: 20px;
  }     
  .nom-container {
    top: 20vh;
    height: 65%;
    width: 50%;
    font-size: calc(3px + 2vmin);
  }
  .search-container {
    /* top and left have NO effect if position is not specified the position is static */
    top: 14vh;    
    width: 45%;
    font-size: calc(1px + 2vmin);
  }
  .searchbar {
    top: 57px;
    left: 8vh;
  }

  .searchbar-results {
    font-size: 14px;
    padding: 5px 17px;
    top: 113px;
  }  
  .searchbar > label {
    font-size: medium;
  }
  .banner {
    margin-top: 8vh;
  }
  .awards-logo {
    display: inline;
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 3vw;
    height: 150px;
    width: 150px;
  }
}

/* Medium-small */
@media only screen and (max-width: 731px) {

  h1 {
    display: none;
  }
  
  button {
    width: calc(70px);
    padding: 3px;    
    font-size: calc(4px + 2vmin);
  }
    
  .nom-container {
    position: absolute;
    top: 30vh;
    height: 100%;
    width: 40%;
  }  
  .search-container {
    /* top and left have NO effect if position is not specified the position is static */
    width: 50%;
    font-size: calc(4px + 2vmin);
  }

  .searchbar-results {
    font-size: 14px;
    padding: 5px 8px;
    top: 113px;
  }
  .searchbar > button {
    background-color: purple;
    width: calc(100px);
    font-size: calc(8px + 1vh);
  }
  .searchbar > label {
    display: none;
  }

  .searchbar {
    width: 100%;
  }
  
  .poster {
    height: 15vh;
    width: 10vh;
    margin: 8px;
  }
  .nom-button {
    width: calc(60px);
    padding: 3px;
    font-size: calc(3px + 2vmin);
  }

  .awards-logo {    
    height: 120px;
    width: 120px;
  }
}